p {
    font-family:'Courier New', Courier, monospace;
}


* {
    border: 2px solid brown;
    border-radius: 30px;
}

.iegh:hover {
    width: 50px;
    height: 50px;
    filter: opacity(50%);
}

.iegh {
    width: 100px;
    height: 100px;
}
#aiagh:hover {
    opacity: 70%;
}