* {
    color: white;
    text-shadow: 4px 4px 4px black;
}

body {
    background: linear-gradient(to right, purple, darkblue);
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}


li {
    display: inline;
    margin: 0 15px;
}

li * {
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
}

main h1 {
    text-shadow: 3px 2px 2px black;
}

img:not(.imgdemiechica) {
    width: 125px;
    height: 90vh;
    cursor: pointer;
}

.imgdemiechica {
    width: 50%;
    height: 50%;
}

#icono {
    display: flex;
    margin: 0px auto;
    margin-top: 80px;
    width: 90%;
    height: auto;
}

#ad1 {
    float: left;
    margin-left: 20px;
}

#ad2 {
    float: right;
    margin-right: 20px;
}

@media screen and (max-width: 500px) {
    nav {
        padding: 5px;
    }
    nav ul {
        padding: 0;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
    }

    body {
        margin-top: 200px;
    }
    #ad1, #ad2 {
        display: block;
        float: none;
        margin: 10px auto;
        width: 80%;
        height: 100px;
        position: relative;
        top: 0;
    }

    h1 {
        margin-top: -80px;
    }
}